.navigation {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.navigation__collapse {
  display: inline-flex;

  padding: 5px;
  padding-left: 15px;

  cursor: pointer;
}

.navigation li {
  list-style: none;

  transition: all 0.4s;

  font-size: 14px;
  line-height: 1.25;
}

.navigation--collapse li {
  font-size: 0;
}

.navigation__icon {
  fill: var(--color-black);

  width: 24px;
  height: 24px;
}

.navigation__icon:hover {
  filter: drop-shadow(0 0 2em #dee0f9aa);
}

.navigation__item {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 6px;
  padding-left: 15px;

  color: var(--color-black);
}

.navigation__item:hover {
  background-color: var(--color-grey);
}

.navigation__item:hover .navigation__icon {
  fill: var(--color-purpur);
}

.navigation__collapse:hover .navigation__icon {
  fill: var(--color-purpur);
}
